@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Oxygen', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Oxygen', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Oxygen', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oxygen', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Oxygen', sans-serif;
}
.mbr-author-desc {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Oxygen', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #41a85f !important;
}
.bg-success {
  background-color: #41a85f !important;
}
.bg-info {
  background-color: #faaf40 !important;
}
.bg-warning {
  background-color: #f7da64 !important;
}
.bg-danger {
  background-color: #3b5998 !important;
}
.btn-primary {
  background-color: #41a85f;
  border-color: #41a85f;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #2c7140;
  border-color: #2c7140;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2c7140 !important;
  border-color: #2c7140 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #faaf40;
  border-color: #faaf40;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #e78d06;
  border-color: #e78d06;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #e78d06 !important;
  border-color: #e78d06 !important;
}
.btn-success {
  background-color: #41a85f;
  border-color: #41a85f;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #2c7140;
  border-color: #2c7140;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2c7140 !important;
  border-color: #2c7140 !important;
}
.btn-warning {
  background-color: #f7da64;
  border-color: #f7da64;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #f3c91b;
  border-color: #f3c91b;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #f3c91b !important;
  border-color: #f3c91b !important;
}
.btn-danger {
  background-color: #3b5998;
  border-color: #3b5998;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #263961;
  border-color: #263961;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #263961 !important;
  border-color: #263961 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #255e35;
  color: #255e35;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #41a85f;
  border-color: #41a85f;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #41a85f !important;
  border-color: #41a85f !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #cf7d05;
  color: #cf7d05;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #faaf40;
  border-color: #faaf40;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #faaf40 !important;
  border-color: #faaf40 !important;
}
.btn-success-outline {
  background: none;
  border-color: #255e35;
  color: #255e35;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #41a85f;
  border-color: #41a85f;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #41a85f !important;
  border-color: #41a85f !important;
}
.btn-warning-outline {
  background: none;
  border-color: #e9bd0c;
  color: #e9bd0c;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f7da64;
  border-color: #f7da64;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f7da64 !important;
  border-color: #f7da64 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #1e2e4f;
  color: #1e2e4f;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #3b5998;
  border-color: #3b5998;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #3b5998 !important;
  border-color: #3b5998 !important;
}
.text-primary {
  color: #41a85f !important;
}
.text-success {
  color: #41a85f !important;
}
.text-info {
  color: #faaf40 !important;
}
.text-warning {
  color: #f7da64 !important;
}
.text-danger {
  color: #3b5998 !important;
}
.alert-success {
  background-color: #41a85f;
}
.alert-info {
  background-color: #faaf40;
}
.alert-warning {
  background-color: #f7da64;
}
.alert-danger {
  background-color: #3b5998;
}
.btn-social {
  border-color: #41a85f;
}
.btn-social:hover {
  background: #41a85f;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #41a85f;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #41a85f;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #41a85f;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #41a85f;
}
.lead a,
.lead a:hover {
  color: #41a85f;
}
.lead blockquote {
  border-color: #41a85f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #93d5a6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #93d5a6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #839ccf;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #41a85f;
}
#menu-4 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4 .navbar-caption {
  color: #ffffff;
}
#menu-4 .navbar-toggler {
  color: #ffffff;
}
#menu-4 .close-icon::before,
#menu-4 .close-icon::after {
  background-color: #ffffff;
}
#menu-4 .link,
#menu-4 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-4 .link {
  font-size: 0.75rem;
}
#menu-4 .dropdown-item,
#menu-4 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-4 .link:hover,
#menu-4 .dropdown-item:hover,
#menu-4 .link:focus,
#menu-4 .dropdown-item:focus {
  color: #41a85f;
}
#menu-4 .link[aria-expanded="true"],
#menu-4 .dropdown-menu {
  background: #0e0e0e;
}
#menu-4 .nav-dropdown-sm .link:focus,
#menu-4 .nav-dropdown-sm .link:hover,
#menu-4 .nav-dropdown-sm .dropdown-item:focus,
#menu-4 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-4 .navbar,
#menu-4 .nav-dropdown-sm,
#menu-4 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-4 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4 .bg-color.transparent.opened .link:hover,
#menu-4 .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-4 .link[aria-expanded="true"],
#menu-4 .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#header1-6 .mbr-section-lead {
  font-size: 18px;
  color: #efefef;
}
#header1-6 .mbr-section-title {
  color: #ffffff;
}
#header1-f .mbr-section-lead {
  font-size: 18px;
  color: #ffffff;
}
#header1-f .mbr-section-title {
  color: #ffffff;
}
#header1-i .mbr-section-lead {
  font-size: 18px;
  color: #ffffff;
}
#header1-i .mbr-section-title {
  color: #ffffff;
  font-size: 60px;
}
#header1-h .mbr-section-lead {
  font-size: 18px;
  color: #ffffff;
}
#header1-h .mbr-section-title {
  color: #ffffff;
  font-size: 60px;
}
#header1-j .mbr-section-lead {
  font-size: 18px;
  color: #ffffff;
}
#header1-j .mbr-section-title {
  color: #ffffff;
  font-size: 60px;
}
#social-buttons4-t .mbr-section-title,
#social-buttons4-t .btn-social {
  color: #fff;
}
#social-buttons4-t .mbr-section-title {
  font-size: 20px;
  color: #ffffff;
}
#footer1-r P {
  color: #000000;
  text-align: right;
}
#contacts1-15 P {
  color: #000000;
}
#contacts1-15 STRONG {
  color: #000000;
}





#header1-v .mbr-section-lead {
  font-size: 18px;
  color: #ffffff;
}
#header1-v .mbr-section-title {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#header1-z .mbr-section-lead {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}
#header1-z .mbr-section-title {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#header1-z .mbr-section-lead B {
  text-align: left;
}
#header1-10 .mbr-section-lead {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}
#header1-10 .mbr-section-title {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#header1-10 .mbr-section-lead B {
  text-align: left;
}
#header1-11 .mbr-section-lead {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}
#header1-11 .mbr-section-title {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#header1-11 .mbr-section-lead B {
  text-align: left;
}
#header3-2j .mbr-section-title,
#header3-2j .mbr-section-subtitle {
  text-align: center;
}
#social-buttons4-w .mbr-section-title,
#social-buttons4-w .btn-social {
  color: #fff;
}
#social-buttons4-w .mbr-section-title {
  font-size: 20px;
  color: #ffffff;
}
#footer1-y P {
  color: #000000;
  text-align: right;
}
#contacts1-15 P {
  color: #000000;
}
#contacts1-15 STRONG {
  color: #000000;
}
#menu-4y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4y .navbar-caption {
  color: #ffffff;
}
#menu-4y .navbar-toggler {
  color: #ffffff;
}
#menu-4y .close-icon::before,
#menu-4y .close-icon::after {
  background-color: #ffffff;
}
#menu-4y .link,
#menu-4y .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-4y .link {
  font-size: 0.75rem;
}
#menu-4y .dropdown-item,
#menu-4y .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-4y .link:hover,
#menu-4y .dropdown-item:hover,
#menu-4y .link:focus,
#menu-4y .dropdown-item:focus {
  color: #41a85f;
}
#menu-4y .link[aria-expanded="true"],
#menu-4y .dropdown-menu {
  background: #0e0e0e;
}
#menu-4y .nav-dropdown-sm .link:focus,
#menu-4y .nav-dropdown-sm .link:hover,
#menu-4y .nav-dropdown-sm .dropdown-item:focus,
#menu-4y .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-4y .navbar,
#menu-4y .nav-dropdown-sm,
#menu-4y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4y .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-4y .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4y .bg-color.transparent.opened .link:hover,
#menu-4y .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-4y .link[aria-expanded="true"],
#menu-4y .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}


#menu-18 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-18 .navbar-caption {
  color: #ffffff;
}
#menu-18 .navbar-toggler {
  color: #ffffff;
}
#menu-18 .close-icon::before,
#menu-18 .close-icon::after {
  background-color: #ffffff;
}
#menu-18 .link,
#menu-18 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-18 .link {
  font-size: 0.75rem;
}
#menu-18 .dropdown-item,
#menu-18 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-18 .link:hover,
#menu-18 .dropdown-item:hover,
#menu-18 .link:focus,
#menu-18 .dropdown-item:focus {
  color: #41a85f;
}
#menu-18 .link[aria-expanded="true"],
#menu-18 .dropdown-menu {
  background: #272727;
}
#menu-18 .nav-dropdown-sm .link:focus,
#menu-18 .nav-dropdown-sm .link:hover,
#menu-18 .nav-dropdown-sm .dropdown-item:focus,
#menu-18 .nav-dropdown-sm .dropdown-item:hover {
  background: #393939!important;
}
#menu-18 .navbar,
#menu-18 .nav-dropdown-sm,
#menu-18 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-18 .nav-dropdown-sm .dropdown-menu {
  background: #414141;
}
#menu-18 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-18 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-18 .bg-color.transparent.opened .link:hover,
#menu-18 .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-18 .link[aria-expanded="true"],
#menu-18 .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#header1-19 .mbr-section-lead {
  font-size: 18px;
  color: #ffffff;
}
#header1-19 .mbr-section-title {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box5-2g H3 {
  font-size: 60px;
}
#msg-box5-2g P {
  font-size: 18px;
}
#msg-box5-1h P {
  font-size: 18px;
}
#msg-box5-1h H3 {
  font-size: 60px;
}
#msg-box5-1k P {
  font-size: 18px;
}
#msg-box5-1k H3 {
  font-size: 60px;
}
#msg-box5-1l P {
  font-size: 18px;
}
#msg-box5-1l H3 {
  font-size: 60px;
}
#social-buttons4-1a .mbr-section-title,
#social-buttons4-1a .btn-social {
  color: #fff;
}
#social-buttons4-1a .mbr-section-title {
  font-size: 20px;
  color: #ffffff;
}
#footer1-1c P {
  color: #000000;
  text-align: right;
}
#contacts1-15 P {
  color: #000000;
}
#contacts1-15 STRONG {
  color: #000000;
}


#menu-1o .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1o .navbar-caption {
  color: #ffffff;
}
#menu-1o .navbar-toggler {
  color: #ffffff;
}
#menu-1o .close-icon::before,
#menu-1o .close-icon::after {
  background-color: #ffffff;
}
#menu-1o .link,
#menu-1o .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-1o .link {
  font-size: 0.75rem;
}
#menu-1o .dropdown-item,
#menu-1o .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1o .link:hover,
#menu-1o .dropdown-item:hover,
#menu-1o .link:focus,
#menu-1o .dropdown-item:focus {
  color: #41a85f;
}
#menu-1o .link[aria-expanded="true"],
#menu-1o .dropdown-menu {
  background: #272727;
}
#menu-1o .nav-dropdown-sm .link:focus,
#menu-1o .nav-dropdown-sm .link:hover,
#menu-1o .nav-dropdown-sm .dropdown-item:focus,
#menu-1o .nav-dropdown-sm .dropdown-item:hover {
  background: #393939!important;
}
#menu-1o .navbar,
#menu-1o .nav-dropdown-sm,
#menu-1o .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1o .nav-dropdown-sm .dropdown-menu {
  background: #414141;
}
#menu-1o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1o .bg-color.transparent.opened .link:hover,
#menu-1o .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-1o .link[aria-expanded="true"],
#menu-1o .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#header1-1p .mbr-section-lead {
  font-size: 18px;
  color: #ffffff;
}
#header1-1p .mbr-section-title {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#social-buttons4-1q .mbr-section-title,
#social-buttons4-1q .btn-social {
  color: #fff;
}
#social-buttons4-1q .mbr-section-title {
  font-size: 20px;
  color: #ffffff;
}
#footer1-1s P {
  color: #000000;
  text-align: right;
}
#contacts1-15 P {
  color: #000000;
}
#contacts1-15 STRONG {
  color: #000000;
}


#menu-1u .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1u .navbar-caption {
  color: #ffffff;
}
#menu-1u .navbar-toggler {
  color: #ffffff;
}
#menu-1u .close-icon::before,
#menu-1u .close-icon::after {
  background-color: #ffffff;
}
#menu-1u .link,
#menu-1u .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-1u .link {
  font-size: 0.75rem;
}
#menu-1u .dropdown-item,
#menu-1u .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1u .link:hover,
#menu-1u .dropdown-item:hover,
#menu-1u .link:focus,
#menu-1u .dropdown-item:focus {
  color: #41a85f;
}
#menu-1u .link[aria-expanded="true"],
#menu-1u .dropdown-menu {
  background: #272727;
}
#menu-1u .nav-dropdown-sm .link:focus,
#menu-1u .nav-dropdown-sm .link:hover,
#menu-1u .nav-dropdown-sm .dropdown-item:focus,
#menu-1u .nav-dropdown-sm .dropdown-item:hover {
  background: #393939!important;
}
#menu-1u .navbar,
#menu-1u .nav-dropdown-sm,
#menu-1u .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1u .nav-dropdown-sm .dropdown-menu {
  background: #414141;
}
#menu-1u .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1u .bg-color.transparent.opened .link:hover,
#menu-1u .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-1u .link[aria-expanded="true"],
#menu-1u .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#header1-1v .mbr-section-lead {
  font-size: 18px;
  color: #ffffff;
}
#header1-1v .mbr-section-title {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#features4-24 .card-subtitle {
  color: #bcbcbc;
}
#features4-24 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#social-buttons4-1w .mbr-section-title,
#social-buttons4-1w .btn-social {
  color: #fff;
}
#social-buttons4-1w .mbr-section-title {
  font-size: 20px;
  color: #ffffff;
}
#footer1-1y P {
  color: #000000;
  text-align: right;
}
#contacts1-15 P {
  color: #000000;
}
#contacts1-15 STRONG {
  color: #000000;
}

#form1-25 .form-control-label {
  color: #ffffff;
}
#form1-25 .mbr-section-title {
  color: #ffffff;
}
#form1-25 SMALL {
  color: #ffffff;
}
#menu-1z .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1z .navbar-caption {
  color: #ffffff;
}
#menu-1z .navbar-toggler {
  color: #ffffff;
}
#menu-1z .close-icon::before,
#menu-1z .close-icon::after {
  background-color: #ffffff;
}
#menu-1z .link,
#menu-1z .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-1z .link {
  font-size: 0.75rem;
}
#menu-1z .dropdown-item,
#menu-1z .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1z .link:hover,
#menu-1z .dropdown-item:hover,
#menu-1z .link:focus,
#menu-1z .dropdown-item:focus {
  color: #41a85f;
}
#menu-1z .link[aria-expanded="true"],
#menu-1z .dropdown-menu {
  background: #272727;
}
#menu-1z .nav-dropdown-sm .link:focus,
#menu-1z .nav-dropdown-sm .link:hover,
#menu-1z .nav-dropdown-sm .dropdown-item:focus,
#menu-1z .nav-dropdown-sm .dropdown-item:hover {
  background: #393939!important;
}
#menu-1z .navbar,
#menu-1z .nav-dropdown-sm,
#menu-1z .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1z .nav-dropdown-sm .dropdown-menu {
  background: #414141;
}
#menu-1z .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1z .bg-color.transparent.opened .link:hover,
#menu-1z .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-1z .link[aria-expanded="true"],
#menu-1z .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#social-buttons4-21 .mbr-section-title,
#social-buttons4-21 .btn-social {
  color: #fff;
}
#social-buttons4-21 .mbr-section-title {
  font-size: 20px;
  color: #ffffff;
}
#footer1-23 P {
  color: #000000;
  text-align: right;
}
#contacts1-15 P {
  color: #000000;
}
#contacts1-15 STRONG {
  color: #000000;
}

#msg-box8-38 .mbr-section-title,
#msg-box8-38 p {
  color: #fff;
}
#msg-box8-38 .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
#msg-box8-38 .lead P {
  text-align: left;
}
#msg-box8-3i .mbr-section-title,
#msg-box8-3i p {
  color: #fff;
}
#msg-box8-3i .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
#msg-box8-3i .lead P {
  text-align: left;
}
#msg-box5-3j P {
  text-align: left;
}
#msg-box8-3m .mbr-section-title,
#msg-box8-3m p {
  color: #fff;
}
#msg-box8-3m .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
#msg-box8-3m .lead P {
  text-align: left;
}
#content2-3q BLOCKQUOTE {
  font-size: 20px;
  text-align: center;
}
#menu-33 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-33 .navbar-caption {
  color: #ffffff;
}
#menu-33 .navbar-toggler {
  color: #ffffff;
}
#menu-33 .close-icon::before,
#menu-33 .close-icon::after {
  background-color: #ffffff;
}
#menu-33 .link,
#menu-33 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-33 .link {
  font-size: 0.75rem;
}
#menu-33 .dropdown-item,
#menu-33 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-33 .link:hover,
#menu-33 .dropdown-item:hover,
#menu-33 .link:focus,
#menu-33 .dropdown-item:focus {
  color: #41a85f;
}
#menu-33 .link[aria-expanded="true"],
#menu-33 .dropdown-menu {
  background: #0e0e0e;
}
#menu-33 .nav-dropdown-sm .link:focus,
#menu-33 .nav-dropdown-sm .link:hover,
#menu-33 .nav-dropdown-sm .dropdown-item:focus,
#menu-33 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-33 .navbar,
#menu-33 .nav-dropdown-sm,
#menu-33 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-33 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-33 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-33 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-33 .bg-color.transparent.opened .link:hover,
#menu-33 .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-33 .link[aria-expanded="true"],
#menu-33 .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#footer1-37 P {
  color: #000000;
  text-align: right;
}
#msg-box8-3r .mbr-section-title,
#msg-box8-3r p {
  color: #fff;
}
#msg-box8-3r .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
#msg-box8-3r .lead P {
  text-align: left;
}
#msg-box8-3w .mbr-section-title,
#msg-box8-3w p {
  color: #fff;
}
#msg-box8-3w .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
#msg-box8-3w .lead P {
  text-align: left;
}
#content2-3y BLOCKQUOTE {
  font-size: 24px;
  text-align: center;
}
#msg-box8-40 .mbr-section-title,
#msg-box8-40 p {
  color: #fff;
}
#msg-box8-40 .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
#msg-box8-40 .lead P {
  text-align: left;
}
#content2-44 BLOCKQUOTE {
  font-size: 24px;
  text-align: center;
}
#content2-44 P {
  font-size: 24px;
}
#msg-box8-46 .mbr-section-title,
#msg-box8-46 p {
  color: #fff;
}
#msg-box8-46 .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
#msg-box8-46 .lead P {
  text-align: left;
}
#content2-48 BLOCKQUOTE {
  font-size: 24px;
  text-align: center;
}
#content2-48 P {
  font-size: 24px;
}
#content2-4a BLOCKQUOTE {
  font-size: 24px;
  text-align: center;
}
#content2-4a P {
  font-size: 24px;
}
#msg-box8-4e .mbr-section-title,
#msg-box8-4e p {
  color: #fff;
}
#msg-box8-4e .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
#msg-box8-4e .lead P {
  text-align: left;
}
#msg-box8-4i .mbr-section-title,
#msg-box8-4i p {
  color: #fff;
}
#msg-box8-4i .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
#msg-box8-4i .lead P {
  text-align: left;
}
#social-buttons4-4k .mbr-section-title,
#social-buttons4-4k .btn-social {
  color: #fff;
}
#social-buttons4-4k .mbr-section-title {
  font-size: 20px;
  color: #ffffff;
}
#contacts1-15 P {
  color: #000000;
}
#contacts1-15 STRONG {
  color: #000000;
}



#menu-12 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-12 .navbar-caption {
  color: #ffffff;
}
#menu-12 .navbar-toggler {
  color: #ffffff;
}
#menu-12 .close-icon::before,
#menu-12 .close-icon::after {
  background-color: #ffffff;
}
#menu-12 .link,
#menu-12 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-12 .link {
  font-size: 0.75rem;
}
#menu-12 .dropdown-item,
#menu-12 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-12 .link:hover,
#menu-12 .dropdown-item:hover,
#menu-12 .link:focus,
#menu-12 .dropdown-item:focus {
  color: #41a85f;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-menu {
  background: #272727;
}
#menu-12 .nav-dropdown-sm .link:focus,
#menu-12 .nav-dropdown-sm .link:hover,
#menu-12 .nav-dropdown-sm .dropdown-item:focus,
#menu-12 .nav-dropdown-sm .dropdown-item:hover {
  background: #393939!important;
}
#menu-12 .navbar,
#menu-12 .nav-dropdown-sm,
#menu-12 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-12 .nav-dropdown-sm .dropdown-menu {
  background: #414141;
}
#menu-12 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-12 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-12 .bg-color.transparent.opened .link:hover,
#menu-12 .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#header1-13 .mbr-section-lead {
  font-size: 18px;
  color: #ffffff;
}
#header1-13 .mbr-section-title {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#features3-1n H4 {
  font-family: 'Oxygen', sans-serif;
  font-size: 17px;
}
#features3-1n P {
  font-size: 13px;
}
#social-buttons4-14 .mbr-section-title,
#social-buttons4-14 .btn-social {
  color: #fff;
}
#social-buttons4-14 .mbr-section-title {
  font-size: 20px;
  color: #ffffff;
}
#footer1-16 P {
  color: #000000;
  text-align: right;
}
#contacts1-15 P {
  color: #000000;
}
#contacts1-15 STRONG {
  color: #000000;
}






#msg-box8-30 .mbr-section-title,
#msg-box8-30 p {
  color: #fff;
}
#msg-box8-30 .mbr-section-title {
  font-size: 72px;
}
#menu-2u .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2u .navbar-caption {
  color: #ffffff;
}
#menu-2u .navbar-toggler {
  color: #ffffff;
}
#menu-2u .close-icon::before,
#menu-2u .close-icon::after {
  background-color: #ffffff;
}
#menu-2u .link,
#menu-2u .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-2u .link {
  font-size: 0.75rem;
}
#menu-2u .dropdown-item,
#menu-2u .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2u .link:hover,
#menu-2u .dropdown-item:hover,
#menu-2u .link:focus,
#menu-2u .dropdown-item:focus {
  color: #41a85f;
}
#menu-2u .link[aria-expanded="true"],
#menu-2u .dropdown-menu {
  background: #272727;
}
#menu-2u .nav-dropdown-sm .link:focus,
#menu-2u .nav-dropdown-sm .link:hover,
#menu-2u .nav-dropdown-sm .dropdown-item:focus,
#menu-2u .nav-dropdown-sm .dropdown-item:hover {
  background: #393939!important;
}
#menu-2u .navbar,
#menu-2u .nav-dropdown-sm,
#menu-2u .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2u .nav-dropdown-sm .dropdown-menu {
  background: #414141;
}
#menu-2u .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2u .bg-color.transparent.opened .link:hover,
#menu-2u .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-2u .link[aria-expanded="true"],
#menu-2u .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#features3-2w H4 {
  font-family: 'Oxygen', sans-serif;
  font-size: 17px;
}
#features3-2w P {
  font-size: 13px;
}
#footer1-2z P {
  color: #000000;
  text-align: right;
}
#features3-54 H4 {
  font-family: 'Oxygen', sans-serif;
  font-size: 17px;
}
#features3-54 P {
  font-size: 13px;
}
#features3-58 H4 {
  font-family: 'Oxygen', sans-serif;
  font-size: 17px;
}
#features3-58 P {
  font-size: 13px;
}
#features3-59 H4 {
  font-family: 'Oxygen', sans-serif;
  font-size: 17px;
}
#features3-59 P {
  font-size: 13px;
}
#features3-5a H4 {
  font-family: 'Oxygen', sans-serif;
  font-size: 17px;
}
#features3-5a P {
  font-size: 13px;
}
#social-buttons4-2x .mbr-section-title,
#social-buttons4-2x .btn-social {
  color: #fff;
}
#social-buttons4-2x .mbr-section-title {
  font-size: 20px;
  color: #ffffff;
}
#contacts1-15 P {
  color: #000000;
}
#contacts1-15 STRONG {
  color: #000000;
}



#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-0 .link {
  font-size: 0.75rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #41a85f;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#header1-2 .mbr-section-lead {
  font-size: 18px;
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}
#header1-2 .mbr-section-title {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#social-buttons4-s .mbr-section-title,
#social-buttons4-s .btn-social {
  color: #fff;
}
#social-buttons4-s .mbr-section-title {
  font-size: 20px;
  color: #ffffff;
}
#footer1-r P {
  color: #000000;
  text-align: right;
}
#contacts1-15 P {
  color: #000000;
}
#contacts1-15 STRONG {
  color: #000000;
}



#menu-4y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4y .navbar-caption {
  color: #ffffff;
}
#menu-4y .navbar-toggler {
  color: #ffffff;
}
#menu-4y .close-icon::before,
#menu-4y .close-icon::after {
  background-color: #ffffff;
}
#menu-4y .link,
#menu-4y .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-4y .link {
  font-size: 0.75rem;
}
#menu-4y .dropdown-item,
#menu-4y .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-4y .link:hover,
#menu-4y .dropdown-item:hover,
#menu-4y .link:focus,
#menu-4y .dropdown-item:focus {
  color: #41a85f;
}
#menu-4y .link[aria-expanded="true"],
#menu-4y .dropdown-menu {
  background: #0e0e0e;
}
#menu-4y .nav-dropdown-sm .link:focus,
#menu-4y .nav-dropdown-sm .link:hover,
#menu-4y .nav-dropdown-sm .dropdown-item:focus,
#menu-4y .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-4y .navbar,
#menu-4y .nav-dropdown-sm,
#menu-4y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4y .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-4y .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-4y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4y .bg-color.transparent.opened .link:hover,
#menu-4y .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-4y .link[aria-expanded="true"],
#menu-4y .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#header1-4z .mbr-section-lead {
  font-size: 18px;
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}
#header1-4z .mbr-section-title {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#social-buttons4-53 .mbr-section-title,
#social-buttons4-53 .btn-social {
  color: #fff;
}
#social-buttons4-53 .mbr-section-title {
  font-size: 20px;
  color: #ffffff;
}
#footer1-51 P {
  color: #000000;
  text-align: right;
}
#contacts1-52 P {
  color: #000000;
}
#contacts1-52 STRONG {
  color: #000000;
}
